@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #F7F8FC;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #F7F8FC;
  }
}

body {
  background: var(--bg-color);
}

